body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;
    background-color: #e6e6e6;
    font-family: sans-serif; 
}

h1 {
    color:#0974b3;
    margin:20px;
}

img {
    max-width:150px;
    float: left;
    margin:1em
}
.gyvenimas {
    color:#666;
    font-size:20px;
    margin:20px 20px 30px 20px;
}

.newton {
    width:900px;
    border-top: 10px solid #0974b3;
    margin:30px;
    background-color: white;
    padding-bottom: 50px;
    overflow: auto;
}

.kiti {
    width:422px;
    float: left;
    border-top: 10px solid #0974b3;
    margin:30px;
    background-color: white;
    padding-bottom: 50px;
    overflow: auto;
}

.kiti:nth-of-type(1n) {
    margin-right: 30px;

/*
    Pilko teksto spalva
    #666;

    Bloko viršutinio border ir h1 spalva:
    #0974b3

*/



/* Fix float left issues */
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

@media print {
    body {
        background-color: lightblue;
    }
}
