img { width: 100% }

.navbar-brand img {
	width: 60px;
}

.jumbotron {
	background-image: url("https://i.pinimg.com/originals/31/3a/11/313a11c3625de05566b0e959a561bf1f.jpg");
	text-align: center;
	background-size: initial;
	color: white;
}